# Python Bytecode files
__pycache__/
*.py[cod]

# Django migrations
*/migrations/*

# SQLite database
db.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Virtualenv
venv/
ENV/
env/
venv.bak/
venv.bak2/

# Python virtual environment (exclude virtual environment directories)
.env/

# Log files
*.log

# Media files
/media/

# Static files (if collected and stored in the project directory)
/static/

# Coverage reports
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Django secret key file
*.env

# Django test output
test_output/

# Pytest
.cache/
